<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <div class="formulario">
        <h1>Registrarse</h1>
        <form action="/user/register/new-user" method="POST" enctype="multipart/form-data">
        <label for="name">Nombre <% if (asterisco) { %>
            <span><%=asterisco%></span>
           <% } %></label>
        <input type="text" placeholder="Ej: Aldana" name="name">
        <label for="email">Correo  <% if (asterisco) { %>
            <span><%=asterisco%></span>
           <% } %></label>
        <input type="email" placeholder="Ej: aldana@gmail.com" name="email">
        
        <label for="password">Contraseña<% if (asterisco) { %>
            <span><%=asterisco%></span>
           <% } %></label>
        <input type="password" name="password" placeholder="Contraseña">
        <label for="img">Foto de perfil</label>
        <input class="input-img" type="file" name="img">
        <% if (mensaje) { %>
            <span><%-mensaje%></span>
        <% } %>
        <% if (asterisco) { %>
            <span>* Campo requerido</span>
        <% } %>
        <button type="submit">Registrarse</button>
    </form>
    </div>
</body>
</html>